/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';

// BOOTSTRAP GRID DISPLAY
// div[class="row"] {
//     border: 1px dotted rgba(0, 0, 0, 0.5);
// }

// div[class^="col-"] {
//     background-color: rgba(255, 0, 0, 0.2);
// }

body, html {
  width: 100%;
  min-height: 100%;
  margin: 0px;
  padding: 0 0 75px 0; // padding-bottom is the space between footer and body content!
  -webkit-text-size-adjust: none;
  background: #141E30; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #141E30 , #243B55); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #141E30 , #243B55); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

//Navbar Styling
.navbar-inverse {
    // Text color
    .navbar-nav > li > a:hover,
    .navbar-brand:hover {
      color: orange;
    }
    // Submit button styling
    .btn-default:hover {
      color: orange;
      background-color: white;
      border-color: orange;
    }
    // Search form border glow
    .form-control:focus {
      border-color: orange;
    }
}

//Navbar Styling
.navbar-inverse {
    // Text color
    .navbar-nav > li > a:hover,
    .navbar-brand:hover {
      color: orange;
    }
    // Submit button styling
    .btn-default:hover {
      color: orange;
      background-color: white;
      border-color: orange;
    }
    // Search form border glow
    .form-control:focus {
      border-color: orange;
    }
}
// Logo button; Unstyled to take on inverse-nav color
.brand-button {
  border-color: transparent;
  background-color: transparent;
}


// HOME PAGE CODE REWRITE
.heading-row {
  background-image: url("hard-disk.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -20px; // Eliminates space between navbar and heading bg pic
}

.heading {
  margin-top: 35px;
  margin-bottom: 35px;
  background-color: rgba(1,1,1,0.2);
  position: relative;
  top: 14%;
  color: white;
}

// Middle partners/powered div
.partner-row {
  padding: 10px; //Adds 20px white space
  text-align: center; // Centers text
  border-top: 5px solid #222222;
  background-color: #ffffff;
    a:hover {
      text-decoration: none;
      color: orange;
    }
}

.mid-header {
  color: white;
}

.mid-header-row {
  margin: 20px;
  
}

//Main body props

.prop-row {
  // margin-bottom: 30px;
}

.left-prop, .right-prop {
  color: white;
  border: 5px solid #FFF;
  border-radius: 20px;
  padding: 40px 30px;
    .btn-primary:hover {
      background-color: orange;
    }
}

.fa-industry {
  font-size: 50px;
  color: white;
}

.fa-database {
  font-size: 50px;
  color: white;
}

// < Home Page Styling END >


// Responsive Media Query experiment

// @media only screen and (max-width: 880px) {
//     body {
//         // background-color: lightblue;
//     }
//     .header {
//       height: 300px;
//     }
// }