/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body { 
  background-color: #FFF;
  margin: 0;
  padding: 0;
}

// Home Page Font Style
.full-home-div {
  color: white;
  font-family: 'Quicksand', sans-serif;
    h1 {
      font-size: 500%; //70px
    }
    h2 {
      font-size: 225%; //28px
    }
    h3 {
      font-size: 24px; //24px
    }
    p {
      font-size: 16px;
    }
}

// //Navbar Style

// Logo button; Unstyled to take on inverse-nav color
.brand-button {
  border-color: transparent;
  background-color: transparent;
}

// Navbar margin
.navbar-inverse {
  margin: 0px;
    // Text color
    .navbar-nav > li > a:hover,
    .navbar-brand:hover {
      color: orange;
    }
    // Submit button styling
    .btn-default:hover {
      color: orange;
      background-color: white;
      border-color: orange;
    }
    // Search form border glow
    .form-control:focus {
      border-color: orange;
    }
    .navbar-nav {
      // Aligns top margin of nav links with brand spacing
      margin: 3px;
    }
    .navbar-form {
    // Aligns search form with rest of links
      margin: 11px;
    }
}


// < Home Page styling >

// Header Image and Text Styling
.header {
  background-image: url("hard-disk.jpg"); 
  background-position: 0% 50%; // Position of the image.  Accepts other values.
  background-repeat: no-repeat;
  background-size: cover; //Image size settings.  
  height: 250px;
  width: 100%; //Width of element box.
  margin: 0 auto;
    #header-text {
      text-align: center;
      // Text opaque 'shadow'
      background-color: rgba(1,1,1,0.2);
      // Extends 'shadow' across page
      margin: 0 -15px;
      padding: 5px 0;
      position: relative;
      top: 14%;
        h1 {
          // Adjusts position between header h1 and p.
          margin-bottom: -20px;
        }
    }
}

// Middle partners/powered div
.partner {
  padding: 20px; //Adds 20px white space
  text-align: center; // Centers text
  border-top: 5px solid #222222;
  padding: 5px 0px;
  background-color: #ffffff;
    a:hover {
      text-decoration: none;
      color: orange;
    }
  }

// Main body

// Full "body" gradient
.main {
  background: #141E30; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #141E30 , #243B55); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #141E30 , #243B55); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 440px;
    // mid-header text spacing
    .mid-header {
      margin: 35px 0 35px 0;
    }
}

// Main body props
.left-prop, .right-prop {
  border: 5px solid #FFF;
  border-radius: 20px;
  padding: 40px 0px;
  text-align: center;
  width: 45%;
    .btn-primary:hover {
      background-color: orange;
    }
}

.left-prop {
  float: left;
  margin-left: 20px;
  // margin-bottom: 20px;
    .fa-industry {
      font-size: 60px;
      color: white;
    }
    p {
      margin: 10px 0px;
    }
}

.right-prop {
  float: right;
  margin-right: 20px;
  // margin-bottom: 20px;
    .fa-database {
      font-size: 60px;
      color: white;
    }
    p {
      margin: 10px 0px;
    }
}


// Footer styling

.footer {
  background-color: #222222;
  padding: 10px;
    .footer-anchor-div {
      float: right;
      width: 50px;
    }  
    p {
      font-size: 12px;
      color: #9d9d9d;
      margin: 0;
        &:hover {
          color: orange;
        }
    }
    a:hover {
      text-decoration: none;
    }
}

// < Home Page Styling END >


// // Responsive Media Query experiment

// @media only screen and (max-width: 880px) {
//     body {
//         // background-color: lightblue;
//     }
//     .header {
//       height: 300px;
//     }
// }


// @media only screen and (max-width: 590px) {
//     body {
//         // background-color: red;
//     }
//     .header {
//       height: 300px;
//     }
// }