/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';

// Full application font style
h1,h2,h3,p {
  font-family: "Hind", sans-serif;
}

//Navbar style

.brand-button {
  border-color: transparent;
  background-color: transparent;
}


.navbar-nav {
  // Aligns top margin of nav links with brand spacing
  margin: 3px;
}

.navbar-form {
  // Aligns search form with rest of links
  margin: 11px;
}


// Home page background
.home-callout{
  background-image: image-url("scenejap.jpg");
}

.navbar-inverse {
  margin: 0px;
}

.home-callout .h1{ //Need to fix this!
  color: white;
  text-shadow: 3px, 2px, black;
}