<h1> About this site </h1>

<p> The point of this application is to expand and solidify my knowledge in web development.</p>
<p> The hope is for this site to include a well stylized index with a number of objects. </p>
<p> These objects will have their own "profile" where I will list a number of attributes. </p>
<p> Furtheremore, I will do some research in order to implement a filter/sorting method
as well as a search engine limited to the object's name. </p>