<div class="container-fluid">  
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <div class="well well-lg text-center">  
        <h1 class="Page-header"> - About This Page -</h1>
        <p> This page is meant to be a fictional database that provides information
        about GPU products and their corresponding manufacturers.  </p>
        <h2> - Page Checklist - </h2>
        <p> The goal while developing this page is to incorporate two index pages
        containing a sort-able list of GPUs and manufacturers. Hopefully, I'll also
        be able to include some form of search engine.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, facere, id, deserunt dolorem laudantium dolore 
        expedita excepturi aliquam esse veritatis voluptas doloremque ipsum iste adipisci incidunt. Maiores tempore qui debitis!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, facere, id, deserunt dolorem laudantium dolore 
        expedita excepturi aliquam esse veritatis voluptas doloremque ipsum iste adipisci incidunt. Maiores tempore qui debitis!</p>
        
      </div> <!-- Well close-->
    </div> <!-- Column structure close-->
  </div> <!-- Row close-->
</div>  <!-- Container close-->

