<div class= "home-callout container-fluid">
  <h1> Hello, and welcome to a beginner's database web application! </h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, quas, minus, officiis, 
  voluptas aliquid libero explicabo pariatur eius accusamus perferendis deleniti unde error debitis 
  maiores et qui ratione optio sapiente. </p>


  
  <div class="col-md-6 home-well-btn">  
    <div class = "well">
      <h2 class= "text-center"> Index Page </h2>
        <%= link_to "Visit the Index Page", "#", class: "btn btn-default btn-lg btn-block" %>
    </div>
  </div>
  
  <div class="col-md-6">
    <div class = "well">
      <h2 class = "text-center"> Placeholder text</h2>
       <%= link_to "Placeholder", "#", class: "btn btn-default btn-lg btn-block" %>
    </div>
  </div>
</div>