<div class="full-home-div">  
  <div class="container-fluid header">
    <div id="header-text" > <!--Add an id to this div -->
      <h1>A BEGINNER'S WEB APP </h1>
      <h2> A database of random stuff</h2>
    </div>
  </div>  
  <div class="partner" > <!--Add a class to this div -->
    <%= link_to "#", class: "powered-brand" do %>
      <i class= "fa fa-power-off"></i>
      Powered by Rails.
    <% end %>
  </div>
  
  <div class="container-fluid main">
    <div class="row">
      <div class="col-md-12">
          <div class= "mid-header text-center">
            <h2> Select The Database You're Interested In </h2>
          </div>
          <div class="prop left-prop">
            <i class ="fa fa-industry"></i>
            <!--<h3>GPU Manufacturers</h3>-->
            <p> Browse through a list of GPU manufacturers. </p>
            <a href="#" class="btn btn-primary btn-lg" role="button">GPU Manufacturers</a>
          </div>
          <div class="prop right-prop">
            <i class ="fa fa-database"></i>
            <!--<h3>GPU Poducts</h3>-->
            <p> Browse through a list of GPU products. </p>
            <a href="#" class="btn btn-primary btn-lg" role="button">GPU Products</a>
          </div>
      </div> <!-- col -->  
    </div> <!--row--> 
  </div> <!-- main -->
  
  <div class="container-fluid">
    <div class="row footer">
      <div class="col-md-12">
        <div class ="footer-anchor-div">
          <a href = "#"><p> arac </p></a> 
        </div>
      </div>
    </div>
  </div>
</div>