<div class="container-fluid">  
  <div class="row heading-row">
    <div class="col-md-12">
      <div class= "heading text-center page-header">
        <h1>A BEGINNER'S WEB APP <br><small>A database of random stuff </small></h1>
      </div>  
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row partner-row">
    <div class="col-md-12">
      <div class="partner text-center"> 
        <%= link_to "#", class: "powered-brand" do %>
          <i class= "fa fa-power-off"></i>
          Powered by Rails.
        <% end %>
        </div>
      </div>  
  </div>
</div>

<div class="container-fluid main">
  <div class="row mid-header-row">
    <div class="col-md-12">
      <div class= "mid-header text-center">
        <h2> Select The Database You're Interested In </h2>
      </div>
    </div>
  </div>
</div>  

<div class="container-fluid main">
  <div class="row prop-row">
    <div class="col-md-4 col-md-offset-1">
      <div class="right-prop text-center well">
        <i class ="fa fa-database"></i>
        <h3> Browse through a list of GPU products. </h3>
        <a href="#" class="btn btn-primary btn-lg" role="button">Products</a>
      </div>
    </div>  
    <div class="col-md-4 col-md-offset-2">
      <div class="left-prop text-center well">
        <i class ="fa fa-industry"></i>
        <h3> Browse through a list of GPU manufacturers. </h3>
        <a href="#" class="btn btn-primary btn-lg" role="button">Manufacturers</a>
      </div>
    </div>
  </div>  
</div> 

